body, html {
overflow-x: hidden !important;
}
/Corrigir escrollamento no Mobile/
@media (max-width: 786px){
body, html {
overflow-x: hidden!important;
}
}
/* ConfiguraÃƒÂ§ÃƒÂµes do banner */
.banner {
  background-color: #ff0000;
  padding: 6px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}

/* ConfiguraÃƒÂ§ÃƒÂµes do corpo */
body {
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center; /* Alinhar todo o conteÃƒÂºdo do corpo ao centro */
}
/* linha lateral*/
.gradient-line {
            margin-top: 15px;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #696060 0%, #3cff00 40%, #26ff00 60%, #696060 100%);
        }
/* linha lateral*/
.gradient-lin {
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #696060 0%, #3cff00 40%, #26ff00 60%, #696060 100%);
        }
/* ConfiguraÃƒÂ§ÃƒÂµes de texto */
h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
}

p {
  margin-bottom: 10px;
}

/* Tamanho do banner para dispositivos de desktop */
@media (min-width: 768px) {
  .banner {
    font-size: 24px;
    padding: 4px;
  }
  
  /* Ajuste do tamanho do primeiro tÃƒÂ­tulo */
  .section2 h2 {
    font-size: 24px;
  }
}

.section2 {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.section2 h2 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: -1.2px;
}

.section2 h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.section2 img {
  width: 30%;
  margin-bottom: 10px;
}

.section2 p {
  margin-bottom: 10px;
}
.section2 button {
    background-color: #35bf35;
    color: white;
    border: none;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(53, 191, 53, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(53, 191, 53, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(53, 191, 53, 0);
    }
}

/* Estilos para dispositivos mÃƒÂ³veis */
@media (max-width: 767px) {
    .section2 button {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
    }
    .section2 img {
    width: 100%;
    margin-bottom: 10px;
 }
 }
.section9-inner{padding: 18px;}

/* Estilos para desktops */
@media (min-width: 768px) {
    .section2 button {
        padding: 10px 20px;
        font-size: 26px;
        border-radius: 4px;
    }
}


/* Tamanho do texto para dispositivos de desktop */
@media (min-width: 768px) {
  .section2 p {
    font-size: 22px;
    width: 27em;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .section2 h2 {
    font-size: 30px;
    font-weight: 900;
    width: 23em;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
}

.section3 {
    text-align: left;
    margin-top: 30px;
    width: 39em;
    margin: 0 auto;
}
@media (max-width: 767px) {
  .section3 {
    width: 90%;
    margin: 0 auto;
  }
  .section3 h2 {
      text-align: center;
    font-size: 22px;
    font-weight: bold;
}
}
.image-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  width: 101%;
  height: auto;
  padding: 48px;
  border-radius: 64px;
  animation: slideToLeft 12s infinite;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
    transition-timing-function: ease-out;
  }
  50% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
    transition-timing-function: ease-out;
  }
  85% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}


.section-title {
    font-size: 24px;
    font-weight: 700;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.thumbs-down-icon {
    color: #1fbc19;
    font-size: 39px;
    margin-right: 10px; /* Adicione o valor desejado para o espaÃƒÂ§o ÃƒÂ  direita */
}


.item-text {
    font-size: 18px;
    font-weight: 600;
}
.section4{
  background-color: #000000;
  color: #fff;
}
.section-inner {
    text-align: center;
    margin-top: 30px;
    width: 48em;
    margin: 0 auto;
}
 .thumbs-down-ico {
    color: #1fbc19;
    font-size: 18px;
    margin-right: 10px; /* Adicione o valor desejado para o espaÃƒÂ§o ÃƒÂ  direita */
}
.ite {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
 .ite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.section5 {
  
}


.section5 h2 {
  font-size: 24px;
  color: #000;
  /* Outros estilos que vocÃª desejar aplicar */
}

.section5 p {
  font-size: 16px;
  color: #333;
  /* Outros estilos que vocÃª desejar aplicar */
}


@media (max-width: 767px) {
  .section-inner {
    width: 90%;
    margin: 0 auto;
  }
  .section-inner h2{
    font-size: 26px;
    line-height: 1.1;
  }
  .section5 h2 {
  font-size: 22px;
  color: #000;
  /* Outros estilos que vocÃª desejar aplicar */
  margin-top: 38px;
}

.section5 p {
  font-size: 21px;
  color: #333333;
  /* Outros estilos que vocÃª desejar aplicar */
  width: 16em;
  margin: 4px auto;
 }
}
.section6{
 margin: 14px;
}
.card1 {
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 0 32px;
  box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.3);
}

.card1-image, .card2-image  {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card1-text, .card2-text {
  margin-top: 10px;
}
.card2 {
  border: solid 2px;
  border-radius: 10px;
  text-align: center;
  padding: 2em;
  margin: 0 32px;
  margin-top: 20px;
  box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.3);
}
.thumbs{
  color: red;
  margin-right: 10px;
}
.section6-inner h3{
  font-size: 23px;
  line-height: 1.1;
  letter-spacing: -1.2px;
  }

.section7-inner h2, .section6-inner h2 {
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: -1.2px;}

/* Estilos padrÃ£o para ambos os dispositivos */
.section6-inner,
.section7-inner {
  margin: 23px;
  text-align: center;
  margin-top: 30px;
  width: 48em;
  margin: 0 auto;
}

.section8{
  padding: 1px;
  background-color: #000000;
  color: #fff;
  }

.section8-inner img{
    width: 23em;
    margin: 4px;
}
.crossed-out {
  position: relative;
}

.crossed-out::before,
.crossed-out::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ff0000cf;
  transform-origin: center;
  animation: cross-out-animation 3s ease-in-out infinite;
}

.crossed-out::before {
  transform: rotate(45deg);
}

.crossed-out::after {
  transform: rotate(-45deg);
  animation-delay: 3s; /* Pausa de 2s apÃ³s a animaÃ§Ã£o completa */
}

@keyframes cross-out-animation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.desc{
  font-weight: 600;
  font-size: 25px;
}
.section8 h1{
  text-align: center;
  color: #587BB3;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  letter-spacing: 5.3px;
  font-size: 19px;
  margin: 0;
}
.section8 h4{
      margin-top: 2px;
    color: #F34605;
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}
.pre{
  font-weight: 900;
  font-size: 64px;
  margin: -8px;
}
.pulse-button {
    margin: 15px;
    padding: 13px;
    border-radius: 5px;
    font-size: 19px;
    background-color: #35bf35;
    color: white;
    border: none;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(53, 191, 53, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(53, 191, 53, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(53, 191, 53, 0);
    }
}

@keyframes pulse-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.section10-inner{
  margin: 19px;
  font-size: 17px;
}
.section10 h5, .section9 h5{
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: -1.2px;
  margin: 0;
}
.section10 p{
  text-align: left;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

  .qna-item .question {
    position: relative;
    padding-left: 20px;
    text-align: left;
  }

  .qna-item .question::before {
    content: '\25B6'; /* SÃ­mbolo de seta para direita */
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
  }

  .qna-item .question::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #36b00c;
    margin-top: 5px;
  }

  .qna-item .answer {
    display: none;
  }
 .section9-inner img{width: 30%;
 }
 .rdp{
  
display: flex;
  
flex-direction: column;
  
align-items: center;
  
background-color: #000;
 }
.rdp p{

text-align: center;

font-size: 14px;

padding: 17px;
}
/* Estilos para dispositivos mÃ³veis */
@media (max-width: 767px) {
  .section6-inner,
  .section7-inner {
    /* Adicione os estilos especÃ­ficos para dispositivos mÃ³veis aqui */
    width: 90%;
    margin: 0 auto;
  }
  .section9-inner img {
    width: 100%;
    margin-bottom: -24px;
 }
}
